.lds-dual-ring {
    display: inline-block;
    width: 70px;
    height: 25px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid #707070;
    border-color: #707070 transparent #707070 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  