.result_header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.result_header_text {
    margin-top: 40px;
    width: 520px;
}

.result_title {
    font-size: 40px;
    line-height: 52px;
}

.result_subtitle {
    width: 350px;
    font-size: 16px;
    line-height: 24px;
}

.result_hero_img {
    width: 40%;

    .result_img {
        width: 100%;
        height: auto;
    }
}

.result_main {
    margin: 20px 0;
}

.list_title {
    font-size: 34px;
    margin-bottom: 10px;
}

.list_subtitle {
    font-size: 16px;
    color: #949494;
}

.result_data_slider {
    margin: 40px 0 140px 0;
}