.search_section {
    min-height: 80vh;
}

.search_content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 80px;
}

.search_title {
    font-size: 36px;
    line-height: 42px;
}

.search_content_subtext {
    font-size: 16px;
    line-height: 20px;
}

.search_form_container {
    margin-top: 60px;
}

.search_content_images {
    margin-top: 80px;
}

.search_content_images_bottom {
    margin-left: 60px;
    margin-top: 100px;
}

.search_content_images_top_doc {
    width: 80px;
    margin-right: 160px;
}

.search_content_images_bottom_ch {
    width: 350px;
}


@media (max-width: 1000px) {
    .search_content_images_top {
        display: none;
    }

    .search_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search_form_container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search_content_images {
        margin-top: 40px;
    }

    .search_content_images_bottom {
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .search_title {
        font-size: 30px;
        line-height: 38px;
    }
    
    .search_content_subtext {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 500px) {
    
    .search_content_subtext {
        font-size: 12px;
        line-height: 18px;
    }

    .search_content_images_bottom_ch {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .search_content_images_bottom_ch {
        width: 260px;
    }
}