.slider_cards {
    padding-top: 20px;
}

.slider_card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.slick-slider {
    margin: 0 15px;
}

.slick-slide {
    padding: 0 30px;
}

.slider_card img{
    width: 50px;
    height: 50px;
}

.slider_card p{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    opacity: .9;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: .9;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .9;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .9;
    color: #c5c5c5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
    background-image: url(./items/arrow-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}

.slick-next
{
    right: -25px;
    background-image: url(./items/arrow-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

@media (max-width: 800px) {
    .slider_card {
        width: 100px;
        height: 100px;
        margin: 20px 40px;
    }

    .slick-slide {
        padding: 0 30px;
    }

    .slider_card p{
        font-size: 12px;
        line-height: 18px;
    }

    .slider_card img{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .slider_card {
        width: 60px;
        height: 100px;
    }

    .slider_card p{
        font-size: 12;
        line-height: 17px;
    }

    .slick-slide {
        padding: 0 30px;
    }

    .slider_card {
        margin: 20px 0px;
    }
}


